{{define "_sidenav.html"}}
<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-light" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <a class="nav-link" href="home">
                    <div class="sb-nav-link-icon "><i class="fas fa-balance-scale" ></i></div>
                    Compare
                </a>
                <a class="nav-link" href="hist">
                    <div class="sb-nav-link-icon"><i class="fas fa-history"></i></div>
                    History
                </a>
            </div>
            </div>    
        <div class="sb-sidenav-footer">
            <div class="small">Logged in as:</div>
            {{ .UserName }}
        </div>
    </nav>
</div>
{{ end }}